
@font-face {
    font-family: cocogoose-semibold;
    src: url("./fonts/Cocogoose/Cocogoose Light Italic.ttf");
}

@font-face {
    font-family: sans-bold;
    src: url("./fonts/OpenSans/OpenSans SemiBold.ttf");
}

 h3{
    font-family: sans-bold;

    
}